<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Ticketer - Change Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="public/css/navbar.css" rel="stylesheet" type="text/css" />
    <link href="public/css/adminViewer.css" rel="stylesheet" type="text/css" />
    <script>
      $(function() {
       $('#top-alert').delay(500).fadeIn('normal', function() {
          $(this).delay(2000).fadeOut();
          $('#hideme').delay(2000).fadeOut();
       });
      });
    </script>
  </head>

  <body>
    <%- include includes/navbar.ejs %>

    <% if ( errorMessage.length > 0 ) { %>
      <div id="hideme" class="container">
        <div class = "row">
          <div class = "col-sm-4"></div>
          <div class = "col-sm-4">
            <div id="top-alert" class="alert alert-danger alert-block">
              <div class="message" align="center"> <%= errorMessage %></div>
            </div>
          </div>
          <div class = "col-sm-4"></div>
        </div>
      </div>
    <% } %>

    <div class = "container">
      <div class = "row">
        <div class = "col-sm-3">
        </div>
        <div class = "col-sm-6">
          <div class = "jumbotron">
            <form name="changePassword" action="/changePassword" method="post">
              <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="Current Password" required="true">
              </div>
              <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input class="form-control" type="password" name="newPassword" id="newPassword" placeholder="New Password" required="true">
              </div>
              <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required="true">
              </div>
              <button type="submit" name="changePassword" id="changePassword" class="btn btn-block btn-primary">Change Password</button>
            </form>
          </div>
        </div>
        <div class= "col-sm-3">
        </div>
      </div>
    </div>
    <script src="/webpack/bundle.js"></script>
  </body>
</html>
