<!DOCTYPE HTML>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../public/main_styles.css">
    <title>Ticketer - Main Page</title>
  </head>
  <body>
    <h1><u>Hello World!</u></h1>
  </body>
</html>
