<!DOCTYPE html>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="../../public/main_styles.css">
    <title>Ticketer - Login</title>
  </head>
  <body>
    <div id="Toolbar"></div>
    <br /><br /><br />
    <form>
      Username: <input type="text" name="username" />
      <br />
      Password: <input type="text" name="password" />
      <br />
      <submit>Login</submit>
      <script src="./public/browser.bundle.js"></script>
    </form>
  </body>
</html>
