<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Ticketer - Add New User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <div class = "container">
      <div class = "row">
        <div class = "col-sm-3">
        </div>
        <div class = "col-sm-6">
          <div class = "jumbotron">
            <form name="signup" action="/signup" method="post">
              <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required="true">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required="true">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" name="adminUser" id="adminUser">Admin User</label>
              </div>
              <button type="submit" name="signup" id="signup" class="btn btn-block btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
        <div class= "col-sm-3">
        </div>
      </div>
    </div>
    <script src="/webpack/bundle.js"></script>
  </body>
</html>
