<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Ticketer - Add New User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      @media (max-width: 1200px) {
        .navbar-header {
          float: none;
        }
        .navbar-left,.navbar-right {
          float: none !important;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-fixed-top {
          top: 0;
          border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
          display: none!important;
        }
        .navbar-nav {
          float: none!important;
          margin-top: 7.5px;
        }
        .navbar-nav>li {
          float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in{
          display:block !important;
        }
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Ticketer </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/createTicket">Create Ticket</a></li>
          <li><a href="/ticketViewer">View Tickets</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= username%>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/changePassword">Change Password</a></li>
              <li><a href ="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <div class = "container">
      <div class = "row">
        <div class = "col-sm-3">
        </div>
        <div class = "col-sm-6">
          <div class = "jumbotron">
            <form name="signup" action="/signup" method="post">
              <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required="true">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required="true">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" name="adminUser" id="adminUser">Admin User</label>
              </div>
              <button type="submit" name="signup" id="signup" class="btn btn-block btn-primary">Sign Up</button>
            </form>
          </div>
        </div>
        <div class= "col-sm-3">
        </div>
      </div>
    </div>
    <script src="/webpack/bundle.js"></script>
  </body>
</html>
