body {
    background-color: #b2b2b2;
    /*color: #FF0000;*/
    font-family: pt mono;
}
toolbar {
    position: fixed;
    width: 100%;
    height:25px;
    top: 0;
    left: 0;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #000;
}
